<!-- app/views/restaurants/_form.html.erb -->
<%= simple_form_for @restaurant do |f| %>
  <div class="mb-3">
    <%= f.input :name, input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
  </div>
  <div class="mb-3">
    <%= f.input :address, input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
  </div>
  <div class="mb-3">
    <%= f.input :phone_number, input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
  </div>
  <div class="mb-3">
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Choose a category", input_html: { class: "form-control" }, label_html: { class: "form-label" } %>
  </div>
  <%= f.submit "Create Restaurant", class: "btn btn-primary" %>
<% end %>
